// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #70C5CA;
$yellow: #fcf9f1;
$orange: #E67E22;
$green: #e76496;
$gray: #0E0000;
$light-gray: #F4F4F4;
$brown: rgb(41, 22, 22)D6;
$pink: #e76496;
