
<div class = "dose-form">
  <div class="header-card">
    <h3>Add new cocktail</h3>
  </div>

  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>    
    <%=  f.submit "Submit", class: "btn btn-primary" %>
  <% end %>

  <%= link_to "Back", cocktails_path, class: "btn btn-primary" %>
</div>



  